@using UI.Data;
@using UI.Utils;

@inherits Dialog<ProcedureTypeSelectorDialogParams, FormationProcedureType>

<DialogLayout IsDisplayed="IsDisplayed">
    <Modal Title="@LocalizationService.Localization.ProcedureTypeSelectorDialog_Title" OnClose="() => this.Cancel()" DispalyCenter="true">
        <Content>
            <div class="d-flex flex-column w-100">
                <div>@LocalizationService.Localization.ProcedureTypeSelectorDialog_Message</div>
                <div>
                    <select @bind="Parameters.ProcedureType" class="form-control mt-2">
                        @foreach (var procedureType in (FormationProcedureType[])Enum.GetValues(typeof(FormationProcedureType)))
                        {
                            <option value="@procedureType">@procedureType.GetName()</option>
                        }
                    </select>
                </div>
            </div>
        </Content>
        <Footer>
            <div class="mt-3">
                <ModalButton class="btn-outline-danger" OnClick="() => this.Cancel()">@LocalizationService.Localization.Common_Cancel</ModalButton>
                <ModalButton class="btn-outline-success" OnClick="() => this.Close(Parameters.ProcedureType)">@LocalizationService.Localization.Common_Ok</ModalButton>
            </div>
        </Footer>
    </Modal>
</DialogLayout>