@using UI.Data;
@using UI.Utils;
@inherits Dialog<SettingsDialogParams, AppSettings>

<DialogLayout IsDisplayed="IsDisplayed">
    <Modal Title="@localization.SettingsDialog_Title" OnClose="() => this.Cancel()" DispalyCenter="true">
        <Content>
            <div class="d-flex flex-column w-100">
                <select @bind="Parameters.AppSettings.Language" class="form-control mt-2">
                    @foreach (var language in (Language[])Enum.GetValues(typeof(Language)))
                    {
                        <option value="@language">@language.GetName()</option>
                    }
                </select>
                <div class="form-check mt-3">
                    <input @bind="Parameters.AppSettings.PalySound" class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        @localization.SettingsDialog_PlayResultCheckbox
                    </label>
                </div>
            </div>
        </Content>
        <Footer>
            <div class="mt-3">
                <ModalButton class="btn-outline-danger" OnClick="() => this.Cancel()">@localization.Common_Cancel</ModalButton>
                <ModalButton class="btn-outline-success" OnClick="() => this.Close(Parameters.AppSettings)">@localization.SettingsDialog_SaveButton</ModalButton>
            </div>
        </Footer>
    </Modal>
</DialogLayout>